@import '../../assets/colors.scss';

.graph {
    

    
    .container {
        background-color: $color2;
        height: 300px;
        margin-top: 20px;
        border-radius: 6px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }
    

}

